# Snowflake
SNOWFLAKE_ACCOUNT=your_account.region
SNOWFLAKE_USER=your_user
SNOWFLAKE_PASSWORD=your_password
SNOWFLAKE_DATABASE=LOANLENS
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_ROLE=SYSADMIN
SNOWFLAKE_SCHEMA_RAW=RAW
SNOWFLAKE_SCHEMA_DBT=ANALYTICS

# Anthropic
ANTHROPIC_API_KEY=sk-ant-...

# App
APP_ENV=development
USE_DUCKDB_FALLBACK=false   # set true to skip Snowflake and use local DuckDB
