# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/
env/

# Env / secrets
.env
*.env

# Data files (generated)
data_gen/output/*.csv
*.duckdb

# dbt
dbt_loanlens/target/
dbt_loanlens/dbt_packages/
dbt_loanlens/logs/
dbt_loanlens/profiles.yml

# Streamlit
.streamlit/secrets.toml

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Pytest
.pytest_cache/
htmlcov/
.coverage
